html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}

.congratulations {
  display: none;
}

.game-over {
  display: none;
}

.show-element {
  display: block;
}
