html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  header {
    text-align: center;
    background: black;
    color: #fff;
    padding: 10px;
  }
  footer {
    padding: 10px;
    text-align: center;
    font-size: 11px;
    background: black;
    color: white;
  }
  .game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
  }    